<style>
    .modal-content {
        background-color: lightpink;
    }
</style>

<!-- For use with More info button -->
<div
    class="modal fade"
    id="exampleModal-{{product.id}}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{product.name}}
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">{{product.description}}</div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- For use with purchase button -->
<div
    class="modal fade"
    id="purchaseModal-{{product.id}}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{product.name}}
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{purchase_form.hidden_tag()}}
                    <h4 class="text-center">
                        Purchase {{product.name}} for {{product.price}}
                    </h4>
                    <h6 class="text-center">
                        By clicking purchase, you agree to purchase this item
                    </h6>
                    <input
                        id="purchased_item"
                        name="purchased_item"
                        type="hidden"
                        value="{{product.id.name}}"
                    />
                    {{purchase_form.purchaseBtn(class="btn btn-outline-success
                    btn-block")}}
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
